<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    a{
        text-decoration: none;

    }
</style>
<body>
    <h1>Read Data</h1>
    <h3>Read All Data</h3>
    <table>
        <thead>
            <tr>
                <th>ID Owner</th>
                <th>Nama</th>
                <th>Jenis Kelamin</th>
                <th>NO HP</th>
                <th>Alamat</th>
            </tr>
        </thead>
        <tbody>
            {% for item in allownerobj %}
            <tr>
                <td>{{item.idowner}}</td>
                <td>{{item.nama}}</td>
                <td>{{item.jeniskelamin}}</td>
                <td>{{item.nohandphone}}</td>
                <td>{{item.alamat}}</td>
                <td>
                    <a href="{% url 'updateowner' item.idowner %}">
                        <button>Update</button>   
                    </a>
                    <a href="{% url 'deleteowner' item.idowner %}">
                        <button>Delete</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'createdataowner' %}">
        <button>
            CREATE DATA 
        </button>   
    </a>
</body>
</html>