<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pelanggan</title>
</head>
<body>
    <h1>Pelanggan</h1>
    <table>
        <tr>
            <th>Nama</th>
            <th>Jenis Kelamin</th>
            <th>Alamat</th>
            <th>Nomor Handphone</th>
        </tr>
        {% for item in allpelangganobj %}
        <tr>
            <td>{{ item.nama }}</td>
            <td>{{ item.jeniskelamin }}</td>
            <td>{{ item.alamat }}</td>
            <td>{{ item.nohandphone }}</td>
            <td>
                <a href="{% url 'updatepelanggan' item.idpelanggan %}">
                    <button>Update</button>
                </a>
                <a href="{% url 'deletepelanggan' item.idpelanggan %}">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'createdatapelanggan' %}"> 
        <button>Create Data Pelanggan</button>
    </a>
</body>
</html>