<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Charge/title>
</head>
<body>
    <h1>Update Charge</h1>
    <from action="" method="post">
        {% csrf_token %}
        <table>
            <tbody>
                <tr>
                    <th>ID Charge</th>
                    <td>
                        <input type="number" name="idcharge" value="{{charge.idcharge}}">
                    </td>
                </tr>
                <tr>
                    <th>Jenis Charge</th>
                    <td>
                        <input type="text" value="{{charge.jenischarge}}" name="jenischarge">
                    </td>
                </tr>
                <tr>
                    <th>Harga Charge</th>
                    <td>
                        <input type="number" value="{{charge.hargacharge}}" name="hargacharge">
                    </td>
                </tr>
                <tr>
                    <th>Rincian Charge</th>
                    <td>
                        <input type="text" name="rinciancharge" value="{{charge.rinciancharge}}">
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit">UPDATE</button>
    </from>
</body>
</html>