<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Owner</title>
</head>
<body>
    <h1>Update Owner</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tbody>
                <tr>
                    <th>ID Owner</th>
                    <td>
                        <input type="number" name="idowner" value="{{allowner.idowner}}">
                    </td>
                </tr>
                <tr>
                    <th>Nama</th>
                    <td>
                        <input type="text" value="{{allowner.nama}}" name="nama">
                    </td>
                </tr>
                <tr>
                    <th>Jenis Kelamin</th>
                    <td>
                        <select name="jeniskelamin" id="">
                            {% if allowner.jeniskelamin == 'laki-laki' %}
                            <option selected value="laki-laki">laki-laki</option>
                            <option value="perempuan">perempuan</option>
                            {% else %}
                            <option value="laki-laki">laki-laki</option>
                            <option selected value="perempuan">perempuan</option>
                            {% endif %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>No HP</th>
                    <td>
                        <input type="number" name="nohandphone" value="{{allowner.nohandphone}}">
                    </td>
                </tr>
                <tr>
                    <th>Alamat</th>
                    <td>
                        <input type="text" value="{{allowner.alamat}}" name="alamat">
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit">UPDATE</button>
    </form>
</body>
</html>